.mod_14 {

	margin-top: -48px;

	@include bp(large) {
		padding: 0 40px;
	}

	.container {
		padding: 0;
		> div {
			@include bp(medium) {
				@include span(12);		
			}
			> div {

				@include display-flex;
				@include justify-content(space-around);

				@include bp(medium) {
					position: relative;
					display: block;
					text-align: center;
					height: 48px;
				}

				a {
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					line-height: 47px;
					font-weight: 300;
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;
					color: white;
					background-color: transparent;

					border-top: 1px solid $grey4;
					border-left: 1px solid $grey4;

					display: inline-block;
					@include flex(1 1 auto);

					@include bp(medium) {
						width: 25%;
						margin: 0 4px;
						border-right: 1px solid $grey4;
					}

					@include bp(large) {
						width: 20%;
					}

					&.active {
						background-color: $grey4;
						color: $grey1;
						@include bp(medium) {
							border-right: 1px solid $grey4;
							border-bottom: 1px solid $grey4;
						}
					}
				}
				a:last-child {
					border-right: 1px solid $grey4;
				}
			}
		}
	}
}