.com_03 {
	> div {
		a {
			text-decoration: none;
			width: 100%;
			padding: 13px 0;
			display: block;
			text-align: center;

			border: 2px solid $grey2;

			@include transition(.3s);

			span:first-child {
				color: $grey3;
				line-height: 18px;
				font-size: 16px;
			}

			span:last-child {
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				line-height: 18px;
				font-weight: 300;
				text-transform: uppercase;
				color: $grey1;
			}

			&:hover {
				background-color: $green1;
				border-color: $green1;
				span {
					color: white;
				}
			}
		}
	}
}